nav {
    border: solid black 0.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    height: 3.75rem;
    width: 3.75rem;
    vertical-align: middle;
    margin-left: 0.625rem;
}

nav #flowerpedia-nav,
#about-us-nav {
    color: brown;
    margin: 1.25rem;
    border: solid #dcecfc 0.125rem;
    padding: 0.3125rem;
    vertical-align: middle;
}

nav #about-us-nav {
    margin-left: auto;
    margin-right: 1.25rem;
}

nav #flowerpedia-nav:hover,
#about-us-nav:hover {
    background-color: #dcecfc;
    font-size: 2.25rem;
    /* maybe add animation on hover */
}

footer {
    border: solid black 0.0625rem;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 3.125rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: brown;
    margin-top: 5rem;
}

footer a {
    color: inherit;
}

footer a:hover {
    background-color: #dcecfc;
    font-size: 1.75rem;
    /* maybe add animation on hover */
}

body {
    background-color: #cae2fa;
}

#mid-page {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content p {
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    text-align: center;
    margin-bottom: 3.125rem;
}

#top{
    padding: 40px;
}

@media only screen and (min-width: 600px) { 

}

@media only screen and (max-width: 600px) {

}