html {
    scroll-padding-top: 6.25rem;
}

nav {
    border: solid black 0.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    height: 3.75rem;
    width: 3.75rem;
    vertical-align: middle;
    margin-left: 0.625rem;
}

nav #flowerpedia-nav,
#about-us-nav {
    color: brown;
    margin: 1.25rem;
    border: solid #dcecfc 0.125rem;
    padding: 0.3125rem;
    vertical-align: middle;
}

nav #about-us-nav {
    margin-left: auto;
    margin-right: 1.25rem;
}

nav #flowerpedia-nav {
    background-color: #dcecfc;
    font-size: 2.25rem;
}

nav #flowerpedia-nav:hover,
#about-us-nav:hover {
    background-color: #dcecfc;
    font-size: 2.25rem;
    /* maybe add animation on hover */
}

.sidebar {
    border: solid black 0.0625rem;
    position: fixed;
    top: 4.75rem;
    left: 0;
    width: 15.625rem;
    height: 100%;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar summary {
    font-weight: bold;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    margin-left: 0.9375rem;
}

.sidebar summary:hover {
    background-color: #dcecfc;
    font-size: 1.6875rem;
    /* maybe add animation on hover */
}

.sidebar ul {
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-left: 2.5rem;
}

.sidebar li:hover {
    background-color: #dcecfc;
    font-size: 1.875rem;
    /* maybe add animation on hover */
}

footer {
    border: solid black 0.0625rem;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 3.125rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: brown;
}

footer a {
    color: inherit;
}

footer a:hover {
    background-color: #dcecfc;
    font-size: 1.75rem;
    /* maybe add animation on hover */
}

body {
    background-color: #cae2fa;
    display: flex;
    flex-direction: column;
    margin-left: 15.625rem;
    padding: 1.25rem;
}

.content h1 {
    font-size: 2.625rem;
    margin: 1.25rem;
    color: brown;
    font-style: italic;
}

.content h3 {
    font-size: 2rem;
    margin: 1.25rem;
    font-style: italic;
}

.content p {
    font-size: 1.5rem;
    font-style: italic;
}

.content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 0;
    font-style: italic;
    overflow-x: auto;
}

.content li {
    text-align: center;
    margin: 0;
    font-style: italic;
}

.content img {
    width: 10.5rem;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
}

.content li a{
    font-size: 1.125rem;
    margin: 0;
    color: brown;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.content li:hover{
    background-color: #b8d9f8;
    font-size: 1.25rem;
    text-decoration: underline;
    color: brown;
    /* maybe add animation on hover */
}
#top{
    padding: 40px;
}

@media (max-width: 768px) {
    nav {
        font-size: 1.5rem;
        height: 3.75rem;
    }

    nav img {
        height: 3rem;
        width: 3rem;
        margin-left: 0.3125rem;
    }

    nav #flowerpedia-nav,
    #about-us-nav {
        margin: 0.625rem;
        padding: 0.1875rem;
    }

    nav #flowerpedia-nav {
        font-size: 1.75rem;
    }

    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow-x: auto;
    }

    .sidebar summary,
    .sidebar ul {
        font-size: 1.25rem;
        margin: 0.3125rem;
    }

    body {
        margin-left: 0;
        margin-top: 0;
        padding: 0.625rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 1.125rem;
    }

    .content ul {
        gap: 1.25rem;
        justify-content: flex-start;
    }

    .content img {
        width: 7.5rem;
    }

    .content li a {
        font-size: 1rem;
    }
nav #about-us-nav {
        font-size: 1.5rem;
        padding: 0.25rem;
        margin-right: 0.625rem;
    }
    nav #flowerpedia-nav:hover,
        #about-us-nav:hover {
        background-color: #dcecfc;
        font-size: 1.74rem;
        /* maybe add animation on hover */
    }    
}

