html {
    scroll-padding-top: 100px;
}

nav {
    border: solid black 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 10px;
}

nav #flowerpedia-nav,
#about-us-nav {
    color: brown;
    margin: 20px;
    border: solid #dcecfc 2px;
    padding: 5px;
    vertical-align: middle;
}

nav #about-us-nav {
    margin-left: auto;
    margin-right: 20px;
}

nav #flowerpedia-nav {
    background-color: #dcecfc;
    font-size: 36px;
}

nav #flowerpedia-nav:hover,
#about-us-nav:hover {
    background-color: #dcecfc;
    font-size: 36px;
    /* maybe add animation on hover */
}

.sidebar {
    border: solid black 1px;
    position: fixed;
    top: 76px;
    left: 0;
    width: 250px;
    height: 100%;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#back-flowerpedia {
    font-weight: bold;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar ul {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 40px;
}

.sidebar li {
    margin: 15px 0px;
}

.sidebar li:hover {
    background-color: #dcecfc;
    font-size: 30px;
    /* maybe add animation on hover */
}

footer {
    border: solid black 1px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: brown;

}

footer a {
    color: inherit;
}

footer a:hover {
    background-color: #dcecfc;
    font-size: 28px;
    /* maybe add animation on hover */
}

body {
    background-color: #cae2fa;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
}

.content h1 {
    font-size: 42px;
    margin: 20px;
    color: brown;
    font-style: italic;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content h3 {
    font-size: 32px;
    margin: 20px;
    font-style: italic;
    text-decoration: underline;
}

.content p {
    font-size: 24px;
    margin: 20px;
    font-style: italic;
}

.content li {
    font-size: 24px;
    margin: 20px;
    font-style: italic;
}