html {
    scroll-padding-top: 6.25rem;
}

nav {
    border: solid black 0.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    height: 3.75rem;
    width: 3.75rem;
    vertical-align: middle;
    margin-left: 0.625rem;
}

nav #flowerpedia-nav,
#about-us-nav {
    color: brown;
    margin: 1.25rem;
    border: solid #dcecfc 0.125rem;
    padding: 0.3125rem;
    vertical-align: middle;
}

nav #about-us-nav {
    margin-left: auto;
    margin-right: 1.25rem;
}

nav #flowerpedia-nav {
    background-color: #dcecfc;
    font-size: 2.25rem;
}

nav #flowerpedia-nav:hover,
#about-us-nav:hover {
    background-color: #dcecfc;
    font-size: 2.25rem;
    /* maybe add animation on hover */
}

.sidebar {
    border: solid black 0.0625rem;
    position: fixed;
    top: 4.75rem;
    left: 0;
    width: 15.625rem;
    height: 100%;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#back-flowerpedia {
    font-weight: bold;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar ul {
    font-size: 1.375rem;
    margin-top: 0.625rem;
    margin-left: 2.5rem;
}

.sidebar li {
    margin: 0.9375rem 0rem;
}

.sidebar li:hover {
    background-color: #dcecfc;
    font-size: 1.875rem;
    /* maybe add animation on hover */
}

footer {
    border: solid black 0.0625rem;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 3.125rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: brown;
}

footer a {
    color: inherit;
}

footer a:hover {
    background-color: #dcecfc;
    font-size: 1.75rem;
    /* maybe add animation on hover */
}

body {
    background-color: #cae2fa;
    display: flex;
    flex-direction: column;
    margin-left: 15.625rem;
    padding: 1.25rem;
    margin-top: 3.125rem;
    text-align: left;
}

.content h1 {
    font-size: 2.625rem;
    margin: 1.25rem;
    color: brown;
    font-style: italic;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content h3 {
    font-size: 2rem;
    margin: 1.25rem;
    font-style: italic;
    text-decoration: underline;
}

.content p,li {
    font-size: 1.5rem;
    margin: 1.25rem;
    font-style: italic;
}