nav {
    border: solid black 0.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    height: 3.75rem;
    width: 3.75rem;
    vertical-align: middle;
    margin-left: 0.625rem;
}

nav #flowerpedia-nav,
#about-us-nav {
    color: brown;
    margin: 1.25rem;
    border: solid #dcecfc 0.125rem;
    padding: 0.3125rem;
    vertical-align: middle;
}

nav #about-us-nav {
    margin-left: auto;
    margin-right: 1.25rem;
}

nav #flowerpedia-nav:hover,
#about-us-nav:hover {
    background-color: #dcecfc;
    font-size: 2.25rem;
    /* maybe add animation on hover */
}

footer {
    border: solid black 0.0625rem;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 3.125rem;
    opacity: 1;
    background-color: #b8d9f8;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: brown;

}

footer a {
    color: inherit;
}

footer a:hover {
    background-color: #dcecfc;
    font-size: 1.75rem;
    /* maybe add animation on hover */
}

body {
    background-color: #cae2fa;
}

#mid-page {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin-top: 4.6875rem;
}

.main-content h1{
    color:brown;
    font-size: 3.25rem;
    text-align: center;
    text-decoration:underline;
    font-style: italic;
}


.main-image{
    width: 50%;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
    margin-left: auto;
    margin-right: auto;
}
.main-content h2{
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
}

.main-content p {
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    text-align: center;
    margin-bottom: 3.125rem;
}

.top-picks h3 {
    font-size: 1.75rem;
    text-decoration: underline;
    margin: 1.25rem;
    font-style: italic;
}

.top-picks p {
    font-size: 1.25rem;
    margin: 1.25rem;
    font-style: italic;
}

.top-picks a {
    font-size: 1.125rem;
    margin: 1.25rem;
    font-style: italic;
    font-weight: bold;
}

.top-picks ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 0;
}

.top-picks li {
    text-align: center;
    margin: 0;
}

.top-picks img {
    width: 9.375rem;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
}

.top-picks li a{
    font-size: 1.125rem;
    margin: 0;
    color: brown;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}
.top-picks li:hover,a:hover{
    background-color: #b8d9f8;
    font-size: 1.25rem;
    text-decoration: underline;
    color: brown;
    /* maybe add animation on hover */
}
