nav{
    border: solid black 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:75px;
    opacity: 1;
    background-color: white;
}
sidebar{
    border: solid black 1px;
    position: fixed;
    top: 75px;
    right: 0;
    width: 300px;
    height: 100%;
    opacity: 1;
    background-color: white;
}