nav{
    border: solid black 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:75px;
    opacity: 1;
    background-color: #7ba428;
    font-style: italic;
    font-size: 32px;
    text-align: start;
    /* fix about us to the left */
    /* maybe flexbox to adjust individuals better */
}
nav img{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 10px;
    /* fix underline in the background */
}
nav #flowerpedia-nav,#about-us-nav{
    color: brown;
    margin: 20px;
    border: solid #9acd32 2px;
    padding: 5px;
    vertical-align: middle;
}
nav #flowerpedia-nav:hover,#about-us-nav:hover{
    background-color: #9acd32;
    /* maybe add animation on hover */
}
nav #flowerpedia-nav:visited,#about-us-nav:visited{
    color: darkred;
}
.sidebar{
    border: solid black 1px;
    position: fixed;
    top: 76px;
    left: 0;
    width: 250px;
    height: 100%;
    opacity: 1;
    background-color: #7ba428;
}
.sidebar summary{
    font-style: italic;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
    color: brown;
    /* fix color */
}
.sidebar summary:hover{
    background-color: #9acd32;
    /* maybe add animation on hover */
}
.sidebar summary:visited{
    color: darkred;
}
body{
    background-color: #9acd32;
}

/* need to fix the ul/li in the sidebar */
/* need to add content to main */
/* need to add the other pages and sync them with the main page */
/* upper view in all the pages or just the flowerpedia page? */
/* need to fix the bugs in the css */
/* css one for all or just individual css for each page? */
/* maybe build structure for the general page and then individualize each page with its own css */